.fullscreen {
  position: fixed;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  z-index: 3;
}

.dialogue {
  position: fixed;
  box-shadow: 3px 3px 5px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.8) url(../images/dialogue-bg.png) repeat-x center center;
  z-index: 4;
  width: 250px;
  min-height: 100px;
  top: 200px;
  left: 400px;
  padding: 20px;
}